.FloatButton {
    min-width: 28px;
    min-height: 28px;
    background-color: var(--accent);
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background-position: center center;
    background-size: 15px 15px;
    background-repeat: no-repeat;

    &__transparent {
        background-color: transparent;
    }

    &:hover {
        opacity: 0.7;
    }

    @mixin transition-all;
}
