@import url('./loaderAnimation.css');

.Loader {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    &__bubble {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        display: block;
        margin:15px auto;
        position: relative;
        color: var(--accent);
        box-sizing: border-box;
        animation: animloader 1s linear infinite alternate;
      }
}
