<div class="Chat">
    {{#if searchable}}
        {{#each searchableChats}}
                {{> SearchableChatItem this}}
        {{/each}}
    {{else}}
        {{#each chats}}
                {{> ChatItem this}}
        {{/each}}
    {{/if}}
</div>
