<main class="ProfilePage">
    <div class="ProfilePage__asideLeft">
        {{> FloatButton id='backToChats' label='Новый чат' icon='/icons/arrow-left.svg' }}
    </div>
    <div class="ProfilePage__asideRight">
        {{> ProfileForm name="Никита" disabled="true"  }}
    </div>
</main>