{{!-- TODO Отключить скролл при открытом попапе с оверлеем через JS --}}
<div 
    class="Popup__overlay 
    {{#if isEnableOverlay}} Popup__overlay_isEnableOverlay {{/if}}"
>
    <div class="Popup
     Popup_open"
    >
            {{#if login}}
                {{> LoginForm formData}}
            {{/if}}
            {{#if register}}
                {{> RegisterForm formData}}
            {{/if}}
            {{#if changeAvatar}}
                {{> ChangeAvatar}}
            {{/if}}
    </div>
</div>