@import './reset.pcss';
@import './global.pcss';
@import './variables.pcss';
@import './fonts.pcss';
@import './mixins.pcss';

/* pages */
@import '../pages/main/main.pcss';
@import '../pages/login/loginPage.pcss';
@import '../pages/register/registerPage.pcss';
@import '../pages/profile/profilePage.pcss';
@import '../pages/not-found/not-found.pcss';
@import '../pages/internal-error/internal-error.pcss';

/* components */
@import '../components/NavigationTo/NavigationTo.pcss';
@import '../components/SearchableInput/SearchableInput.pcss';
@import '../components/Chat/Chat.pcss';
@import '../components/ChatItem/ChatItem.pcss';
@import '../components/SearchableChatItem/SearchableChatItem.pcss';
@import '../components/Popup/Popup.pcss';
@import '../components/LoginForm/LoginForm.pcss';
@import '../components/Input/Input.pcss';
@import '../components/Button/Button.pcss';
@import '../components/RegisterForm/RegisterForm.pcss';
@import '../components/FloatButton/FloatButton.pcss';
@import '../components/ProfileForm/ProfileForm.pcss';
@import '../components/EditableAvatar/EditableAvatar.pcss';
@import '../components/EditableEntry/EditableEntry.pcss';
@import '../components/ChangeAvatar/ChangeAvatar.pcss';
@import '../components/ForErrorPages/ForErrorPages.pcss';
