:root {
    /* colors */
    --bgWhite: #FFF;
    --bgLightGrey: #FBFBFB;
    --bgDarkGray: #EFEFEF;
    --bgLightBlue: #E4EDFD;
    --bgBlack: #000;
    --accent: #3369F3;
    --divider: #EAEAEA;
    --textWhite: #FFF;
    --textBlack: #1E1E1E;
    --textGray: #999;
    --textError: #FF2F2F;
}
