:root {
    /* colors */
    --bgWhite: #FFFFFF;
    --bgLightGrey: #FBFBFB;
    --bgDarkGray: #EFEFEF;
    --bgLightBlue: #E4EDFD;
    --bgBlack: #000000;

    --accent: #3369F3;

    --divider: #EAEAEA;
    
    --textWhite: #FFFFFF;
    --textBlack: #1E1E1E;
    --textGray: #999999;
    --textError: #FF2F2F;
}
