<form class="ProfileForm">
    {{> EditableAvatar}}
    <span class="ProfileForm__name">{{name}}</span>
    {{> EditableEntry type="text" label="Почта" name="email" value="example@ex.com" disabled="true" }}
    {{> EditableEntry type="text" label="Логин" name="login" value="ivanivanov" disabled="true" }}
    {{> EditableEntry type="text" label="Имя" name="first_name" value="Иван" disabled="true" }}
    {{> EditableEntry type="text" label="Фамилия" name="second_name" value="Иванов" disabled="true" }}
    {{> EditableEntry type="text" label="Имя в чате" name="display_name" value="Иван" disabled="true" }}
    {{> EditableEntry type="text" label="Телефон" name="phone" value="+7 (909) 967 30 30" disabled="true" }}
    <div class="ProfileForm__footer">
        {{#if disabled}}
            {{> Button label="Изменить данные" type="link" formType="button" id="editButton" }}
            {{> Button label="Изменить пароль" type="link" formType="button" id="savePasswordButton" }}
            {{> Button label="Удалить" type="link" formType="button" id="removeButton" danger="true" }}
        {{else}}
            {{> Button label="Сохранить" type="primary" formType="submit" id="submit" }} 
        {{/if}}
    </div>
</form>