<div class="ForErrorPages">
    <span class="ForErrorPages__code">{{code}}</span>
    <span class="ForErrorPages__title">{{title}}</span>
    {{> Button id="goToMain" label="Назад к чатам" type="link" formType="button" id="goToMain" }}
</div>