<form class="RegisterForm" name="RegisterForm" novalidate>
    <div class="RegisterForm__content">
        <span class="RegisterForm__title">Регистрация</span>
        {{>Input label='Почта' type='email' name='email' value='' placeholder='Почта' required=true}}
        {{>Input label='Логин' type='text' name='login' value='' placeholder='Логин' required=true}}
        {{>Input label='Имя' type='text' name='first_name' value='' placeholder='Имя' required=true}}
        {{>Input label='Фамилия' type='text' name='second_name' value='' placeholder='Фамилия' required=true}}
        {{>Input label='Телефон' type='tel' name='phone' value='' placeholder='Телефон' required=true}}
        {{>Input label='Пароль' name='password' type='password' value='' placeholder='Пароль' required=true}}
        {{>Input label='Пароль (ещё раз)' type='password' name='repeatPassword' value='' placeholder='Пароль (ещё раз)' required=true}}
        <div class="RegisterForm__footer">
            {{>Button id ='goToMain' label='Зарегистрироваться' type='primary' formType='submit'}}
            {{>Button label='Войти' type='link' formType='button' id='goToLogin'}}
        </div>
    </div>
</form>
