<div class="ChangeAvatar">
    <span class="ChangeAvatar__title">Загрузите файл</span>
    <div class="ChangeAvatar__contentWrapper">
    {{> Button label="Выбрать файл на компьютере" type="link" formType="submit" id="submit" }}
    </div>
    {{> Button label="Поменять" type="primary" formType="button" id="change" }}
</div>
