.ChangeAvatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding-inline: 20px;


    &__title {
        margin-bottom: 40px;
        @mixin font 600, 15px, 20px;
    }

    &__contentWrapper {
        max-width: 150px;
        margin-bottom: 40px;
    }
}
